.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createInputs {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 2rem auto;
}
